// for more info about styling an element:
// https://www.polymer-project.org/1.0/docs/devguide/styling.html

:host {
  // always declare a display property for your element, otherwise it will apear
  // to have height and width = 0 but yet it renders content...
  display: block;
}
// :host can take an extra css selector as parameter
// this will apply when your element is used like this:
// <preview-panel disabled></preview-panel>
// or with data-binding
// <preview-panel disabled$="{{isDisabled}}"></preview-panel>
:host([disabled]) {
  color: gray;
}

.Enabled-bkg {
  background-color: var(--paper-blue-400);
}


.some-class, [some-attribute], some-element {
  // use custom css properties like this
  // color can be defined by another developer, it defaults to blue
  color: var(--my-custom-color, blue);
}
// another developer can do this now:
// preview-panel {
//   --my-custom-color: green;
// }

div.dialoginput {
  min-width: 300px;
  width: 500px;
}

div.dialogsw {
  min-width: 50px;
}

.some-class, [some-attribute], some-element {
  // use custom css mixins like this
  // another developer can now inject extra css at this point
  @apply(--my-mixin-name);
}
// another developer can do this now:
// preview-panel {
//   --my-mixin-name: #{'{
//     background-color: green;
//     border-radius: 4px;
//     border: 1px solid gray;
//   }'};
// }
