<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<link rel="import" href="/swatchcell/framework/html/elements/panel-title/panel-title.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/ts/common-elements/auto-update/auto-update.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/ugt/ts/cell/html/elements/ugt-styles/ugt-styles.html">



<dom-module id="rate-panel">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <style include="reset-css"></style>

    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
    <style include="swatch-styles"></style>
    <style include="ugt-styles"></style>

    <link rel="stylesheet" type="text/css" href="css/rate-panel-min.css?__inline=true">

    <h2 class="panel-title">
      <span>Trigger Rates</span>
    </h2>

    <ts-ajax data={{version}} callback="RatePanel::getVersion"
              handle-as="json" auto></ts-ajax>

    <auto-update
      id="GateKeeperChecker"
      data="{{isSystemReady}}"
      callback="RatePanel::isSystemReady"
      interval="5000"
      on-error="onError"
      headless>
    </auto-update>


    <template is="dom-if" if="{{!isSystemReady}}">
      <p><span class="Error">System is not in the correct state.</span></p>
      <p>Wait unit the system is running or in paused state.</p>
    </template>


    <template is="dom-if" if="{{isSystemReady}}">

      <div class="fixed">
      <paper-material elevation="1">
        <div horizontal layout align-center>
          <div flex-2>
            <auto-update id="setupSortOptions" data="{{sortoptions}}"
                    parameters='["showDiagnosis"]'
                    callback="RatePanel::setupSortOptions" handle-as="json" no-refresh headless></auto-update>

            <paper-dropdown-menu label="Sort">
              <paper-listbox id="selSort" class="dropdown-content" selected$="{{sortoptions.default.id}}" on-iron-select="onSelectedSortOption">
                <template id="domSortOptions" is="dom-repeat" items="[[sortoptions.options]]" as="item">
                  <paper-item>[[item.name]]</paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>

          </div>
          <div flex-2>
            <br>
            <paper-toggle-button id="togglebutton" checked on-change="onToggleChange" noink>{{activeAlgoMsg}}</paper-toggle-button>
          </div>
        </div>


        <div class="fixed">
          <div horizontal layout>

            <div flex>
              <h3><span class="label Unknown-bkg">Rates for Luminosity Segment: <span>[[refreshFinor.lumiseg]]</span></span></h3>

              <template is="dom-if" if="{{refreshFinor.showtable}}">
                <h3><span class="label Unknown-bkg">Prescale Column: <span>[[getPrescaleIndexString(tab.presclabel, tab.prescotf)]]</span></span></h3>
              </template> <!-- end refreshFinor.showtable (prescale column) -->
              <template is="dom-if" if="{{!refreshFinor.showtable}}">
                <h3><span class="label Unknown-bkg">Prescale Column: <span>n/a</span></span></h3>
              </template> <!-- end !refreshFinor.showtable (prescale column) -->

            </div>

            <div flex>
              <h3>
                <span class$="{{getLabelClass(refreshFinor.finorstate)}}">FinOR Rate: <span>[[refreshFinor.finorrate]] Hz</span></span>
              </h3>
            </div>
          </div>
        </div>

      </paper-material>
      </div>

    <br>
    <template is="dom-if" if="{{refreshFinor.showtable}}">
      <div class="divtable">
        <table class="simple">
          <tr class="header">
            <th class$="[[tab.colindex.class]]">[[tab.colindex.name]]</th>
            <th class$="[[tab.colalgo.class]]">[[tab.colalgo.name]]</th>
            <th class$="[[tab.colbxmask.class]]">[[tab.colbxmask.name]]</th>
            <th class$="[[tab.colprescale.class]]">[[tab.colprescale.name]] ([[getPrescaleIndexString(tab.presc, tab.prescotf)]])</th>
            <th class$="[[tab.colfinor.class]]">[[tab.colfinor.name]]</th>
            <th class$="[[tab.colratecounter.class]]">[[tab.colratecounter.name]]</th>
            <th class$="[[tab.colrate.class]]">[[tab.colrate.name]]</th>
            <template is="dom-if" if="{{isShowDiagnosis}}">
              <th class$="[[tab.colveto.class]]">[[tab.colveto.name]]</th>
              <th class$="[[tab.colrate.class]]">[[tab.colmoduleid.name]]</th>
            </template>
          </tr>
          <template id="tabrows" is="dom-repeat" items="{{makeSortedItems(tab.items)}}" as="item">
            <tr>
              <td class="indexcell">[[item.index]]</td>
              <td>[[item.algo]]</td>
              <td class="prescalecell">
                <template is="dom-if" if="{{isBxMaskApplied(item.bxmask)}}">
                  <div class="tooltip">{{getBxMaskText(item.bxmask)}}
                      <div class="tooltiptext"><strong>BX enabled:</strong> {{getBxMaskAltText(item.bxmask)}}</div>
                  </div>
                </template>
                <template is="dom-if" if="{{!isBxMaskApplied(item.bxmask)}}">
                  {{getBxMaskText(item.bxmask)}}
                </template>
              </td>
              <td class="prescalecell">[[item.prescale]]</td>
              <td class="finorcell">[[item.finor]]</td>
              <td class="ratecell">[[item.ratecounter]]</td>
              <td class="ratecell">[[item.rate]]</td>
              <template is="dom-if" if="{{isShowDiagnosis}}">
                <td class="finorcell">[[item.veto]]</td>
                <td class="finorcell">[[item.moduleid]]</td>
              </template>
            </tr>
          </template>
        </table>
      </div>

      <br>

      <template is="dom-if" if="{{isShowDiagnosis}}">
        <span style="font-weight: bold;">Local FinOr rate and counter</span><br/>
        <div class="divtabledebug">
          <table class="simple">
            <tr class="header">
              <th>Module Id</th>
              <th>MP7 Counter</th>
              <th>Finorboard Counter</th>
              <th>Diff Counter</th>
              <th>MP7 Rate</th>
              <th>Finorboard Rate</th>
              <th>Diff Rate</th>
            </tr>
            <template id="tabrows" is="dom-repeat" items="{{refreshFinor.localfinors}}" as="item">
              <tr>
                <td class="indexcell">{{item.moduleid}}</td>
                <td class="indexcell">{{formatCounter(item.countermp7)}}</td>
                <td class="indexcell">{{formatCounter(item.counterfinorboard)}}</td>
                <td class="indexcell">{{calcDiffCounter(item.countermp7, item.counterfinorboard)}}</td>
                <td class="indexcell">{{formatRate(item.ratemp7)}}</td>
                <td class="indexcell">{{formatRate(item.ratefinorboard)}}</td>
                <td class="indexcell">{{calcDiffRate(item.ratemp7, item.ratefinorboard)}}</td>
              </tr>
            </template>
          </table>
        </div>
      </template>

    </template> <!-- end refreshFinor.showtable -->
    <template is="dom-if" if="{{!refreshFinor.showtable}}">
      <p>[[getRateLoadingMessage()]]</p>
    </template> <!-- end !refreshFinor.showtable -->


      <auto-update data="{{refreshFinor}}"
        id="refreshFinor"
        interval="5000"
        callback="RatePanel::refreshFinor"
        handle-as="json"
        no-refresh$={{!isSystemReady}}
        on-error="onError"
        headless
        >
      </auto-update>

      <auto-update id="tab" data="{{tab}}"
        callback="RatePanel::getTable"
        handle-as="json"
        no-refresh$={{!refreshFinor.refreshTable}}
        on-error="onError"
        headless
        >
      </auto-update>

    </template> <!-- end isSystemReady -->

    <br><br>

    <ts-ajax id="dumpVersionsCallback" data={{dumpVersions}}
              callback="RatePanel::getDumpVersions"
              handle-as="json" auto></ts-ajax>

    <div class="fixed">
      <div horizontal layout>
        <div flex>
          <paper-toggle-button id="toggleDiagnosis" on-change="onToggleDiagnosis" noink>{{diagnosisMsg}}</paper-toggle-button>
        </div>
        <div flex>
          <template is="dom-if" if="{{isShowDiagnosis}}">
            <paper-toggle-button id="toggleDumpVersions" on-change="onToggleDumpVersions" noink>{{dumpVersionsMsg}}</paper-toggle-button>
          </template>
        </div>
      </div>
    </div>

    <template is="dom-if" if="{{isShowDiagnosis}}">
      <br><br>
      <template is="dom-if" if="{{isShowDumpVersions}}">
        <span style="font-weight: bold;">Dump versions for MP7 boards</span><br/>
        <table class="simple">
          <tr class="header">
            <template is="dom-repeat" items="[[dumpVersions.mp7Header]]" as="item">
              <th>[[item]]</th>
            </template>
          </tr>
          <template is="dom-repeat" items="[[dumpVersions.mp7Body]]" as="item">
            <tr>
              <template is="dom-repeat" items="[[item]]" as="row">
                <td>[[row]]</td>
              </template>
            </tr>
          </template>
        </table>
      </template>  <!-- end isShowDumpVersions -->
    </template>  <!-- end isShowDiagnosis -->

    <p class="ugtversion">uGt Cell Version {{version.ugtversion}}</p>
  </template>
  <script src="javascript/rate-panel-min.js?__inline=true"></script>
</dom-module>
