<link rel="import" href="../ugt-styles/ugt-styles.html">
<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<link rel="import" href="/swatchcell/framework/html/elements/panel-title/panel-title.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/ajaxell/html/elements/ag-toaster/throws-toast.html">
<link rel="import" href="/extern/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">

<!--
an element lives in the folder /bower_components/agilians-elements/<element-name>/

only the last comment before <dom-module ...> appears in the documentation
-->

<!--
Material design: [Click me](https://www.google.com/design/spec/components/text-fields.html)

`prescales-panel` is a template to be used when creating new elements.

Example:

    <prescales-panel></prescales-panel>
    <prescales-panel test="test"></prescales-panel>

### Styling
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--my-custom-color` | A custom css property | `black`
`--my-mixin-name` | A custom mixin | `{}`

@demo demo/index.html


-->
<dom-module id="prescales-panel">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <style include="reset-css"></style>

    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
    <style include="swatch-styles"></style>
    <style include="ugt-styles"></style>

    <style>
:host{display:block}:host([disabled]){color:gray}table.simple td.cell{text-align:right;padding-right:1em;padding-left:1em}p.error{color:#dd0000}p.warning{color:#000000}p.done{color:#000000}.some-class,[some-attribute],some-element{color:var(--my-custom-color, blue)}.some-class,[some-attribute],some-element{@apply (--my-mixin-name)}

</style>

    <h2 class="panel-title">
      <span>Prescales</span>
    </h2>


    <ts-ajax data={{version}} callback="PrescalesPanel::getVersion"
              handle-as="json" auto></ts-ajax>


    <auto-update
      id="GateKeeperChecker"
      data="{{isSystemReady}}"
      callback="PrescalesPanel::isSystemReady"
      interval="5000"
      on-error="onError"
      headless>
    </auto-update>

    <template is="dom-if" if="{{!isSystemReady}}">
      <p><span class="Error">System is not in the correct state yet.</span></p>
      <p>Please refresh the page manually (CTRL+R or F5) when the system is in configured, aligned, running or paused state.</p>
    </template>


    <template is="dom-if" if="{{isSystemReady}}">

      <paper-material elevation="1">
        <!-- Change Prescale index to: <strong>[[res.index]]</strong><br /> -->

        <!-- <span>Current Prescale index in use: <strong>[[currentPrescaleIndex.processors.0.index]]</strong></span> -->
        <!-- <span>Current Prescale index in use: <strong>[[getPrescaleIndexString(currentPrescaleIndex.processors.0.fmtlabel, currentPrescaleIndex.processors.0.otf)]]</strong></span> -->
        <h3><span class="label Unknown-bkg">Current Prescale: <span>[[getPrescaleIndexString(currentPrescaleIndex.processors.0.fmtlabel, currentPrescaleIndex.processors.0.otf)]]</span></span></h3>

        <!-- <br /> -->
        <!-- <span><strong>{{currentPrescaleIndex.status}} || {{statusPrescaleChange}}</strong></span> -->
        <span><strong>{{statusPrescaleChange}}</strong></span>
        <br />
        <span><strong><p class$="[[res.status]]">[[res.msg]]</p></strong></span>
        <br />
        <span style="color:#FF0000"><strong>[[table.error]]</strong></span>
        <br />
      </paper-material>

      <paper-button
        id="btGKRefresh"
        raised on-click="refreshGK">Refresh Table</paper-button>

      <br />


      <ts-ajax id="handler" data={{res}} callback="PrescalesPanel::changePrescale"
                parameters='["selectedButton"]' handle-as="json"
                on-error="onError"></ts-ajax>

      <paper-dropdown-menu label="Select Prescale Column">
        <paper-listbox id="dropdown" class="dropdown-content" on-iron-select="onItemSelect">
          <template id="domDropdownItems" is="dom-repeat" items="[[table.buttons]]" as="item">
            <paper-item value="{{item}}">[[item.text]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-button
        id="btChangePrescale"
        raised on-click="changePrescaleIndex">Change Prescale</paper-button>

      <br /><br />


      <paper-material elevation="1">
        <ts-ajax id="cbGetTable" data="{{table}}" callback="PrescalesPanel::getTable" handle-as="json"
                  on-data-changed="tableChanged" auto></ts-ajax>
      <br />

      <table class="simple">
        <tr class="header">
          <template is="dom-repeat" items="[[table.columns]]" as="column">
            <th>[[column.name]]</th>
          </template>
        </tr>
        <template is="dom-repeat" items="[[table.rows]]" as="row">
          <tr>
            <td>[[row.algo]]</td>
            <template is="dom-repeat" items="{{row.prescales}}" as="entry">
              <td class="cell">[[entry]]</td>
            </template>
          </tr>
        </template>
      </table>
    </paper-material>

      <auto-update data="{{currentPrescaleIndex}}"
        id="refreshCurrentPrescaleIndex"
        interval="5000"
        callback="PrescalesPanel::readCurrentPrescaleIndex"
        handle-as="json"
        parameters='["selectedButton", "status"]'
        status = "[[res.status]]"
        on-error="onError"
        no-refresh$={{!isSystemReady}}
        headless
        >
      </auto-update>
    </template>

    <p class="ugtversion">uGt Cell Version {{version.ugtversion}}</p>
  </template>
  <script>
Polymer({is:"prescales-panel",behaviors:[throwsToast],properties:{isSystemReady:{type:Boolean,value:!1,observer:"_sysReadyChanged"},res:{type:Object,value:{}},currentPrescaleIndex:{type:Object,value:{},observer:"_prescaleInUseChanged"},statusPrescaleChange:{type:String,value:""},isToastVisible:{type:Boolean,value:!1}},observers:[],onError:function(event,detail,sender){this.isSystemReady=!1,this.isToastVisible||(this.throwToast({type:"error",message:"Your session has expired",options:["reload"],blocking:!0,callback:function(response){page.replace(page.current)}.bind(this)}),this.isToastVisible=!0)},changePrescaleIndex:function(e){var selectedItem=(this.$$("#dropdown"),this.getPrescaleIndexItem());if(void 0!=selectedItem){var selPrescIdx=selectedItem.index.toString(),selPrescOtf=selectedItem.otf;if(selPrescIdx===this.currentPrescaleIndex.processors[0].index.toString()&&selPrescOtf===this.currentPrescaleIndex.processors[0].otf)return void console.log("Current prescale index is same as selected "+selPrescIdx);var refreshCurrentPrescaleIndex=this.$$("#refreshCurrentPrescaleIndex");null!==refreshCurrentPrescaleIndex&&(refreshCurrentPrescaleIndex.selectedButton=selPrescIdx);var handler=this.$$("#handler");handler.selectedButton=selPrescIdx,handler.generateRequest(),console.log("Change prescale index to "+selPrescIdx),this.setStatusPrescaleChangeString(!0,selPrescIdx,!1)}},onItemSelect:function(){},tableChanged:function(){},refreshGK:function(e){console.log("refreshItems"),this.set("res",{}),this.set("table",{});var dropdown=this.$$("#dropdown");null!==dropdown&&dropdown.select(void 0);var refreshCurrentPrescaleIndex=this.$$("#refreshCurrentPrescaleIndex");null!==refreshCurrentPrescaleIndex&&refreshCurrentPrescaleIndex.set("selectedButton","");var getTableHandler=this.$$("#cbGetTable");null!==getTableHandler&&getTableHandler.generateRequest()},_sysReadyChanged:function(newval,oldval){if(void 0!==oldval&&oldval!==newval)if(newval)this.refreshGK();else{this.set("res",{}),this.set("table",{});var refreshCurrentPrescaleIndex=this.$$("#refreshCurrentPrescaleIndex");null!==refreshCurrentPrescaleIndex&&refreshCurrentPrescaleIndex.set("selectedButton","");var dropdown=this.$$("#dropdown");null!==dropdown&&dropdown.select(void 0)}},_prescaleInUseChanged:function(newval,oldval){if(void 0!==oldval&&void 0!==newval&&oldval!=newval&&null!==newval.processors){var prescaleIndex=parseInt(newval.processors[0].index),otf=newval.processors[0].otf,changeToPrescaleIndex=(newval.processors[0].fmtlabel,newval.changetoprescaleindex),changeToPrescaleOtf=newval.changetoprescaleotf;prescaleIndex!==changeToPrescaleIndex||otf!==changeToPrescaleOtf?this.setStatusPrescaleChangeString(!0,changeToPrescaleIndex,changeToPrescaleOtf):this.setStatusPrescaleChangeString(!1,prescaleIndex,!1);void 0===this.getPrescaleIndexItem()&&this.selectPrescaleIndexItem(changeToPrescaleIndex)}},selectPrescaleIndexItem:function(prescaleIndex){var dropdown=this.$$("#dropdown");if(void 0!==dropdown&&null!==dropdown)for(var items=dropdown.items,i=0;i<items.length;i++){var item=items[i].value;if(parseInt(item.index)===prescaleIndex){dropdown.selectIndex(i);break}}},getPrescaleIndexItem:function(){var dropdown=this.$$("#dropdown"),domDropdownItems=this.$$("#domDropdownItems");if(void 0!==domDropdownItems&&null!==dropdown&&void 0!==dropdown.selectedItem)return domDropdownItems.items[dropdown.selected]},getDropdownPrescaleLabel:function(prescaleIndex){var dropdown=this.$$("#dropdown");if(null!==dropdown)for(var items=dropdown.items,i=0;i<items.length;i++){var item=items[i].value;if(parseInt(item.index)==prescaleIndex)return item.text}return""},getPrescaleIndexString:function(prescaleIndex,otf){var msg=prescaleIndex.toString();return otf&&(msg+="*"),msg},setStatusPrescaleChangeString:function(isWaiting,prescaleIndex,otf){if(isWaiting){var label=this.getDropdownPrescaleLabel(parseInt(prescaleIndex)),sOtf="";otf&&(sOtf="*"),this.set("statusPrescaleChange","Change to prescale '"+label+sOtf+"' (Waiting for lumisection update)")}else this.set("statusPrescaleChange","")},created:function(){},ready:function(){},attached:function(){},detached:function(){},attributeChanged:function(name,type){}});
</script>
</dom-module>
