<link rel="import" href="../ugt-styles/ugt-styles.html">
<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<link rel="import" href="/swatchcell/framework/html/elements/panel-title/panel-title.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/ts/common-elements/auto-update/auto-update.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/extern/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/extern/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/extern/bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="/extern/bower_components/paper-input/paper-input.html">
<link rel="import" href="/extern/bower_components/paper-tooltip/paper-tooltip.html">

<!--
an element lives in the folder /bower_components/agilians-elements/<element-name>/

only the last comment before <dom-module ...> appears in the documentation
-->

<!--
Material design: [Click me](https://www.google.com/design/spec/components/text-fields.html)

`preview-panel` is a template to be used when creating new elements.

Example:

    <preview-panel></preview-panel>
    <preview-panel test="test"></preview-panel>

### Styling
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--my-custom-color` | A custom css property | `black`
`--my-mixin-name` | A custom mixin | `{}`

@demo demo/index.html


-->
<dom-module id="preview-panel">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <style include="reset-css"></style>

    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
    <style include="swatch-styles"></style>
    <style include="ugt-styles"></style>

    <link rel="stylesheet" type="text/css" href="css/preview-panel-min.css?__inline=true">

    <h2 class="panel-title">
      <span>Preview Rates</span>
    </h2>

    <ts-ajax data={{version}} callback="PreviewPanel::getVersion"
              handle-as="json" auto></ts-ajax>

    <ts-ajax data={{allProcessorsAvailable}} callback="PreviewPanel::allProcessorsAvailable"
              handle-as="json" auto></ts-ajax>


    <template is="dom-if" if="{{!allProcessorsAvailable.isavailable}}">
      <p><span class="Error">[[allProcessorsAvailable.msg]]</span></p>
      <p>Please refresh the page manually (CTRL+R or F5) when all processors are available.</p>
    </template>

    <template is="dom-if" if="{{allProcessorsAvailable.isavailable}}">

    <auto-update
      data="{{isSystemReady}}"
      callback="PreviewPanel::isSystemReady"
      interval="5000"
      on-error="onError"
      headless>
    </auto-update>

    <template is="dom-if" if="{{!isSystemReady.runningOrPaused}}">
      <p><span class="Error">System is not in the correct state.</span></p>
      <p>Wait unit the system is running or in paused state.</p>
    </template>


    <template is="dom-if" if="{{isSystemReady.runningOrPaused}}">

      <paper-material elevation="1">

        <h3><span id="lblCurrentPreviewPrescale" class="label Unknown-bkg">Current Preview Prescale: <span>[[getPrescaleIndexString(currentPreviewPrescale.fmtlabel, currentPreviewPrescale.otf)]]</span></span></h3>
        <template is="dom-if" if="{{currentPreviewPrescale.otf}}">
          <paper-tooltip for="lblCurrentPreviewPrescale" offset="0">Asterisk sign (*) indicates a modified prescale set</paper-tooltip>
        </template>
        <span><strong>[[statusPrescaleChange]]</strong></span>
        <br />
        <span><strong><p class$="[[prescaleStatus.status]]">[[prescaleStatus.msg]]</p></strong></span>
        <br />
      </paper-material>

      <ts-ajax id="handlerOtf" data={{currentPreviewPrescaleSet}}
                callback="PreviewPanel::getCurrentPreviewPrescales"
                parameters='["selectedIndex", "isOtfSet"]'
                handle-as="json"></ts-ajax>

      <ts-ajax id="handler" data={{prescaleStatus}} callback="PreviewPanel::changePreviewPrescale"
                parameters='["selectedIndex", "usingOtfPrescales"]' handle-as="json"
                on-error="onError"></ts-ajax>

      <template is="dom-if" if="{{isNotEmpty(tab.error)}}">
        <paper-material elevation="1">
          <span class="Error"><strong>Error: [[tab.error]]</strong></span>
        </paper-material>
      </template>
      <template is="dom-if" if="{{!isNotEmpty(tab.error)}}">
        <div class="fixed">
          <div horizontal layout align-center>
            <div flex-2>

              <paper-dropdown-menu label="Select Preview Prescale Column" >
                <paper-listbox id="dropdown" class="dropdown-content">
                  <template id="domDropdownItems" is="dom-repeat" items="[[tab.buttons]]" as="item">
                    <paper-item value="{{item}}">[[item.text]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
              <br />
              <paper-button
                id="btChangePrescale"
                raised on-click="changePrescaleIndex">Change Preview Prescale
              </paper-button>

              <paper-icon-button
                id="btPrescalingOnTheFly"
                icon="icons:create"
                raised on-click="openPrescalesPopup">
              </paper-icon-button>
              <paper-tooltip for="btPrescalingOnTheFly" offset="0">Preview prescaling on the fly</paper-tooltip>
              <br />
              <paper-dialog id="dialog" modal>
                <h2>Preview prescaling on the fly</h2>
                <h4>based on column "{{getDropdownPrescaleLabel(currentPreviewPrescaleSet.prescaleindex, currentPreviewPrescaleSet.otf)}}"</h4>
                <!-- <br /> -->
                <div horizontal layout align-center>
                  <div class="dialoginput">Algos sorted by index</div><div class="dialogsw">Mask</div>
                </div>
                <paper-dialog-scrollable>
                  <template id="previewPrescales" is="dom-repeat" items="{{currentPreviewPrescaleSet.prescaleset}}">
                    <div horizontal layout align-center>
                      <div class="dialoginput">
                        <paper-input type="number" id="[[item.algo]]" label="[[buildPopupAlgoLabel(item)]]"
                                    value="{{item.prescale}}" auto-validate allowed-pattern="[0123456789]"></paper-input>
                      </div>
                      <div class="dialogsw"><paper-toggle-button id="[[item.algo]]_mask"
                                  noink value="{{item.mask}}" checked$="{{item.maskflag}}"
                                  on-checked-changed="onCheckedChanged">{{item.mask}}</paper-toggle-button>
                      </div>
                    </div>
                  </template>
                </paper-dialog-scrollable>
                <div class="buttons">
                  <paper-button dialog-dismiss autofocus>Cancel</paper-button>
                  <paper-button dialog-confirm on-click="dialogConfirmed">Apply</paper-button>
                </div>
              </paper-dialog>

            </div>

            <div flex-2>
              <ts-ajax id="setupSortOptions" data="{{sortoptions}}"
                        parameters='["showDiagnosis"]'
                        callback="PreviewPanel::setupSortOptions"
                        handle-as="json" auto></ts-ajax>

              <paper-dropdown-menu label="Sort">
                <paper-listbox id="selSort" class="dropdown-content" selected$="{{sortoptions.default.id}}" on-iron-select="onSortOptionSelected">
                  <template id="domSortOptions" is="dom-repeat" items="[[sortoptions.options]]" as="item">
                    <paper-item>[[item.name]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>

              <!-- <br /> -->

              <paper-toggle-button id="togglebutton" checked on-change="onToggleChange" noink>{{activeAlgoMsg}}</paper-toggle-button>
            </div>
          </div>
        </div>

        <br />

        <div class="fixed">
          <div horizontal layout>

            <div flex>
              <h3>
              <span class="label Unknown-bkg">Rates for Luminosity Segment: <span>[[refresheddata.lumiseg]]</span></span>
              </h3>
            </div>

            <div flex>
              <h3>
              <!-- <template is="dom-if" if="{{displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
              <template is="dom-if" if="{{showTable}}">
                <span class$="{{getLabelClass(refresheddata.finorstate)}}">FinOR Rate: <span>[[formatRate(refresheddata.finorrate)]] Hz</span></span>
              </template>
              <!-- <template is="dom-if" if="{{!displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
              <template is="dom-if" if="{{!showTable}}">
                <span class="label Unknown-bkg">FinOR Rate: <span>n/a Hz</span></span>
              </template>
            </h3>
            </div>
          </div>
        </div>
        <br/>


      <!-- <template is="dom-if" if="{{displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
        <template is="dom-if" if="{{showTable}}">
          <div class="divtable">
            <table class="simple">
              <tr class="header">
                <th class$="[[tab.colindex.class]]">[[tab.colindex.name]]</th>
                <th class$="[[tab.colalgo.class]]">[[tab.colalgo.name]]</th>
                <th class$="[[tab.colbxmask.class]]">[[tab.colbxmask.name]]</th>
                <th class$="[[tab.colprescale.class]]">[[tab.colprescale.name]] ([[getPrescaleIndexString(tab.presc, refresheddata.processors.0.otf)]])</th>
                <th class$="[[tab.colfinor.class]]">[[tab.colfinor.name]]</th>
                <th class$="[[tab.colratecounter.class]]">[[tab.colratecounter.name]]</th>
                <th class$="[[tab.colrate.class]]">[[tab.colrate.name]]</th>
              </tr>
              <template id="tabrows" is="dom-repeat" items="[[makeSortedItems(tab.items)]]" as="item">
                <tr class$=[[item.class]]>
                  <td class="indexcell">[[item.index]]</td>
                  <td>[[item.algo]]</td>
                  <td class="prescalecell">
                    <template is="dom-if" if="{{isBxMaskApplied(item.bxmask)}}">
                      <div class="tooltip">{{getBxMaskText(item.bxmask)}}
                        <div class="tooltiptext"><strong>BX enabled:</strong> {{getBxMaskAltText(item.bxmask)}}</div>
                      </div>
                    </template>
                    <template is="dom-if" if="{{!isBxMaskApplied(item.bxmask)}}">
                      {{getBxMaskText(item.bxmask)}}
                    </template>
                  </td>
                  <td class="prescalecell">[[item.prescale]]</td>
                  <td class="finorcell">[[item.finor]]</td>
                  <td class="ratecell">[[item.ratecounter]]</td>
                  <td class="ratecell">[[item.rate]]</td>

                </tr>
              </template>
            </table>
          </div>
        </template>
        <!-- <template is="dom-if" if="{{!displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
        <template is="dom-if" if="{{!showTable}}">
          <p>{{getRateLoadingMessage(refresheddata.lumisectionprescchanged)}}</p>
        </template>
      </template>

      <auto-update id="tab" data="{{tab}}"
        callback="PreviewPanel::getTable"
        handle-as="json"
        no-refresh$="{{!reloadTable(refresheddata.refreshTable, isSystemReady.runningOrPaused)}}"
        on-error="onError"
        headless
        >
      </auto-update>


      <auto-update data="{{refresheddata}}"
        id="refreshdata"
        interval="5000"
        callback="PreviewPanel::refreshData"
        handle-as="json"
        on-error="onError"
        no-refresh$={{!isSystemReady.runningOrPaused}}
        headless
        >
      </auto-update>

    </template>
  </template>

  <p class="ugtversion">uGt Cell Version {{version.ugtversion}}</p>
  </template>
  <script src="javascript/preview-panel-min.js?__inline=true"></script>
</dom-module>
