<dom-module id="ugt-styles">
  <template>
    <style>

      table.simple {
      	/*font-family: sans;*/
      	font-size: 12px;
      	width: 100%;
      	border-spacing: 0;
      	border-collapse: collapse;
      	border: 0 solid #333;
      	border-top-width: 1px;
      	border-left-width: 1px;
      	background-color: #fefefe;
      }

      table.simple th, table.simple td {
      	border-bottom: 1px solid #333;
      	border-right: 1px solid #333;
      	padding: .1em .25em;
      }
      table.simple tr:nth-child(even) {
       background-color: #f3f3f3;
      }
      table.simple tr.header {

      }
      table.simple tr.otf {
        background-color: #ffdb99;
        font-weight: bold;
      }
      table.simple tr:hover {
      	background-color: #ffff99;
      }
      table.simple tr:hover td {
      	background: none;
      }
      table.simple th.algorithm {
      	min-width: 20%;
      }
      table.simple th {
      	background-color: #ccc;
        text-align: center;
      }

      table.simple td.indexcell {
        text-align: right;
        padding-right: 1em;
      }
      table.simple td.ratecell {
        text-align: right;
        padding-right: 1em;
      }
      table.simple td.prescalecell {
        text-align: right;
        padding-right: 1em;
      }
      table.simple td.finorcell {
        text-align: center;
      }

      p.alert {
        color: #dd0000;
      }
      p.normal {
        color: #000000;
      }

      p.ugtversion {
        text-align: center;
        font-weight: italic;
        margin-top: 30pt;
      }

      div.fixed {
        // position: fixed;
        // width: 500pt;
      }

      div.divtable {
        // margin-top: 90pt;
        // bottom: 0;
      }

      .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
      }

      .tooltip .tooltiptext {
          visibility: hidden;
          width: 220px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -200px;
          opacity: 0;
          transition: opacity 1s;
      }

      .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: 70px;
          border-width: 7px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
      }

      .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
      }

    </style>
  </template>
</dom-module>
