<link rel="import" href="../ugt-styles/ugt-styles.html">
<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<link rel="import" href="/swatchcell/framework/html/elements/panel-title/panel-title.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/ts/common-elements/auto-update/auto-update.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/extern/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/extern/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/extern/bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="/extern/bower_components/paper-input/paper-input.html">
<link rel="import" href="/extern/bower_components/paper-tooltip/paper-tooltip.html">

<!--
an element lives in the folder /bower_components/agilians-elements/<element-name>/

only the last comment before <dom-module ...> appears in the documentation
-->

<!--
Material design: [Click me](https://www.google.com/design/spec/components/text-fields.html)

`preview-panel` is a template to be used when creating new elements.

Example:

    <preview-panel></preview-panel>
    <preview-panel test="test"></preview-panel>

### Styling
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--my-custom-color` | A custom css property | `black`
`--my-mixin-name` | A custom mixin | `{}`

@demo demo/index.html


-->
<dom-module id="preview-panel">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <style include="reset-css"></style>

    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
    <style include="swatch-styles"></style>
    <style include="ugt-styles"></style>

    <style>
:host{display:block}:host([disabled]){color:gray}.Enabled-bkg{background-color:var(--paper-blue-400)}.some-class,[some-attribute],some-element{color:var(--my-custom-color, blue)}div.dialoginput{min-width:300px;width:500px}div.dialogsw{min-width:50px}.some-class,[some-attribute],some-element{@apply (--my-mixin-name)}

</style>

    <h2 class="panel-title">
      <span>Preview Rates</span>
    </h2>

    <ts-ajax data={{version}} callback="PreviewPanel::getVersion"
              handle-as="json" auto></ts-ajax>

    <ts-ajax data={{allProcessorsAvailable}} callback="PreviewPanel::allProcessorsAvailable"
              handle-as="json" auto></ts-ajax>


    <template is="dom-if" if="{{!allProcessorsAvailable.isavailable}}">
      <p><span class="Error">[[allProcessorsAvailable.msg]]</span></p>
      <p>Please refresh the page manually (CTRL+R or F5) when all processors are available.</p>
    </template>

    <template is="dom-if" if="{{allProcessorsAvailable.isavailable}}">

    <auto-update
      data="{{isSystemReady}}"
      callback="PreviewPanel::isSystemReady"
      interval="5000"
      on-error="onError"
      headless>
    </auto-update>

    <template is="dom-if" if="{{!isSystemReady.runningOrPaused}}">
      <p><span class="Error">System is not in the correct state.</span></p>
      <p>Wait unit the system is running or in paused state.</p>
    </template>


    <template is="dom-if" if="{{isSystemReady.runningOrPaused}}">

      <paper-material elevation="1">

        <h3><span id="lblCurrentPreviewPrescale" class="label Unknown-bkg">Current Preview Prescale: <span>[[getPrescaleIndexString(currentPreviewPrescale.fmtlabel, currentPreviewPrescale.otf)]]</span></span></h3>
        <template is="dom-if" if="{{currentPreviewPrescale.otf}}">
          <paper-tooltip for="lblCurrentPreviewPrescale" offset="0">Asterisk sign (*) indicates a modified prescale set</paper-tooltip>
        </template>
        <span><strong>[[statusPrescaleChange]]</strong></span>
        <br />
        <span><strong><p class$="[[prescaleStatus.status]]">[[prescaleStatus.msg]]</p></strong></span>
        <br />
      </paper-material>

      <ts-ajax id="handlerOtf" data={{currentPreviewPrescaleSet}}
                callback="PreviewPanel::getCurrentPreviewPrescales"
                parameters='["selectedIndex", "isOtfSet"]'
                handle-as="json"></ts-ajax>

      <ts-ajax id="handler" data={{prescaleStatus}} callback="PreviewPanel::changePreviewPrescale"
                parameters='["selectedIndex", "usingOtfPrescales"]' handle-as="json"
                on-error="onError"></ts-ajax>

      <template is="dom-if" if="{{isNotEmpty(tab.error)}}">
        <paper-material elevation="1">
          <span class="Error"><strong>Error: [[tab.error]]</strong></span>
        </paper-material>
      </template>
      <template is="dom-if" if="{{!isNotEmpty(tab.error)}}">
        <div class="fixed">
          <div horizontal layout align-center>
            <div flex-2>

              <paper-dropdown-menu label="Select Preview Prescale Column" >
                <paper-listbox id="dropdown" class="dropdown-content">
                  <template id="domDropdownItems" is="dom-repeat" items="[[tab.buttons]]" as="item">
                    <paper-item value="{{item}}">[[item.text]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
              <br />
              <paper-button
                id="btChangePrescale"
                raised on-click="changePrescaleIndex">Change Preview Prescale
              </paper-button>

              <paper-icon-button
                id="btPrescalingOnTheFly"
                icon="icons:create"
                raised on-click="openPrescalesPopup">
              </paper-icon-button>
              <paper-tooltip for="btPrescalingOnTheFly" offset="0">Preview prescaling on the fly</paper-tooltip>
              <br />
              <paper-dialog id="dialog" modal>
                <h2>Preview prescaling on the fly</h2>
                <h4>based on column "{{getDropdownPrescaleLabel(currentPreviewPrescaleSet.prescaleindex, currentPreviewPrescaleSet.otf)}}"</h4>
                <!-- <br /> -->
                <div horizontal layout align-center>
                  <div class="dialoginput">Algos sorted by index</div><div class="dialogsw">Mask</div>
                </div>
                <paper-dialog-scrollable>
                  <template id="previewPrescales" is="dom-repeat" items="{{currentPreviewPrescaleSet.prescaleset}}">
                    <div horizontal layout align-center>
                      <div class="dialoginput">
                        <paper-input type="number" id="[[item.algo]]" label="[[buildPopupAlgoLabel(item)]]"
                                    value="{{item.prescale}}" auto-validate allowed-pattern="[0123456789]"></paper-input>
                      </div>
                      <div class="dialogsw"><paper-toggle-button id="[[item.algo]]_mask"
                                  noink value="{{item.mask}}" checked$="{{item.maskflag}}"
                                  on-checked-changed="onCheckedChanged">{{item.mask}}</paper-toggle-button>
                      </div>
                    </div>
                  </template>
                </paper-dialog-scrollable>
                <div class="buttons">
                  <paper-button dialog-dismiss autofocus>Cancel</paper-button>
                  <paper-button dialog-confirm on-click="dialogConfirmed">Apply</paper-button>
                </div>
              </paper-dialog>

            </div>

            <div flex-2>
              <ts-ajax id="setupSortOptions" data="{{sortoptions}}"
                        parameters='["showDiagnosis"]'
                        callback="PreviewPanel::setupSortOptions"
                        handle-as="json" auto></ts-ajax>

              <paper-dropdown-menu label="Sort">
                <paper-listbox id="selSort" class="dropdown-content" selected$="{{sortoptions.default.id}}" on-iron-select="onSortOptionSelected">
                  <template id="domSortOptions" is="dom-repeat" items="[[sortoptions.options]]" as="item">
                    <paper-item>[[item.name]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>

              <!-- <br /> -->

              <paper-toggle-button id="togglebutton" checked on-change="onToggleChange" noink>{{activeAlgoMsg}}</paper-toggle-button>
            </div>
          </div>
        </div>

        <br />

        <div class="fixed">
          <div horizontal layout>

            <div flex>
              <h3>
              <span class="label Unknown-bkg">Rates for Luminosity Segment: <span>[[refresheddata.lumiseg]]</span></span>
              </h3>
            </div>

            <div flex>
              <h3>
              <!-- <template is="dom-if" if="{{displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
              <template is="dom-if" if="{{showTable}}">
                <span class$="{{getLabelClass(refresheddata.finorstate)}}">FinOR Rate: <span>[[formatRate(refresheddata.finorrate)]] Hz</span></span>
              </template>
              <!-- <template is="dom-if" if="{{!displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
              <template is="dom-if" if="{{!showTable}}">
                <span class="label Unknown-bkg">FinOR Rate: <span>n/a Hz</span></span>
              </template>
            </h3>
            </div>
          </div>
        </div>
        <br/>


      <!-- <template is="dom-if" if="{{displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
        <template is="dom-if" if="{{showTable}}">
          <div class="divtable">
            <table class="simple">
              <tr class="header">
                <th class$="[[tab.colindex.class]]">[[tab.colindex.name]]</th>
                <th class$="[[tab.colalgo.class]]">[[tab.colalgo.name]]</th>
                <th class$="[[tab.colbxmask.class]]">[[tab.colbxmask.name]]</th>
                <th class$="[[tab.colprescale.class]]">[[tab.colprescale.name]] ([[getPrescaleIndexString(tab.presc, refresheddata.processors.0.otf)]])</th>
                <th class$="[[tab.colfinor.class]]">[[tab.colfinor.name]]</th>
                <th class$="[[tab.colratecounter.class]]">[[tab.colratecounter.name]]</th>
                <th class$="[[tab.colrate.class]]">[[tab.colrate.name]]</th>
              </tr>
              <template id="tabrows" is="dom-repeat" items="[[makeSortedItems(tab.items)]]" as="item">
                <tr class$=[[item.class]]>
                  <td class="indexcell">[[item.index]]</td>
                  <td>[[item.algo]]</td>
                  <td class="prescalecell">
                    <template is="dom-if" if="{{isBxMaskApplied(item.bxmask)}}">
                      <div class="tooltip">{{getBxMaskText(item.bxmask)}}
                        <div class="tooltiptext"><strong>BX enabled:</strong> {{getBxMaskAltText(item.bxmask)}}</div>
                      </div>
                    </template>
                    <template is="dom-if" if="{{!isBxMaskApplied(item.bxmask)}}">
                      {{getBxMaskText(item.bxmask)}}
                    </template>
                  </td>
                  <td class="prescalecell">[[item.prescale]]</td>
                  <td class="finorcell">[[item.finor]]</td>
                  <td class="ratecell">[[item.ratecounter]]</td>
                  <td class="ratecell">[[item.rate]]</td>

                </tr>
              </template>
            </table>
          </div>
        </template>
        <!-- <template is="dom-if" if="{{!displayTable(tab.presc, refresheddata.showtable, tab.items)}}"> -->
        <template is="dom-if" if="{{!showTable}}">
          <p>{{getRateLoadingMessage(refresheddata.lumisectionprescchanged)}}</p>
        </template>
      </template>

      <auto-update id="tab" data="{{tab}}"
        callback="PreviewPanel::getTable"
        handle-as="json"
        no-refresh$="{{!reloadTable(refresheddata.refreshTable, isSystemReady.runningOrPaused)}}"
        on-error="onError"
        headless
        >
      </auto-update>


      <auto-update data="{{refresheddata}}"
        id="refreshdata"
        interval="5000"
        callback="PreviewPanel::refreshData"
        handle-as="json"
        on-error="onError"
        no-refresh$={{!isSystemReady.runningOrPaused}}
        headless
        >
      </auto-update>

    </template>
  </template>

  <p class="ugtversion">uGt Cell Version {{version.ugtversion}}</p>
  </template>
  <script>
Polymer({is:"preview-panel",behaviors:[throwsToast],properties:{isSystemReady:{type:Object,value:{},observer:"_sysReadyChanged"},activeAlgoMsg:{type:String,value:""},isShowActiveAlgo:{type:Boolean,value:!0},status:{type:String,value:""},prescaleStatus:{type:Object,value:{}},changeToPreviewPrescale:{type:Object,value:void 0},currentPreviewPrescale:{type:Object,value:{index:0,otf:!1,fmtlabel:""}},refresheddata:{type:Object,value:void 0,observer:"_prescaleInUseChanged"},statusPrescaleChange:{type:String,value:""},currentPreviewPrescaleSet:{type:Object,value:{},observer:"_retreivedCurrentPreviewPrescaleSet"},isToastVisible:{type:Boolean,value:!1}},observers:[],onError:function(event,detail,sender){this.setIsSystemReady(!1,!1,!1),this.isToastVisible||(this.throwToast({type:"error",message:"Your session has expired",options:["reload"],blocking:!0,callback:function(response){page.replace(page.current)}.bind(this)}),this.isToastVisible=!0)},onToggleChange:function(e){var togglebtn=e.target;this.setActiveAlgoMsgString(togglebtn.checked),this.generateGetTableRequest()},onSortOptionSelected:function(e){this.generateGetTableRequest()},generateGetTableRequest:function(){this.$$("#selSort").selected,this.$$("#togglebutton");this.$$("#tab").generateRequest()},changePrescaleIndex:function(e){var selectedItem=this.getPrescaleIndexItem();if(void 0!==selectedItem){this.generateGetTableRequest();var prescaleIndex=selectedItem.index,isotf=selectedItem.otf,label=selectedItem.text;this.$$("#refreshdata").selectedIndex=prescaleIndex;var handler=this.$$("#handler");handler.selectedIndex=prescaleIndex,handler.usingOtfPrescales=isotf,handler.generateRequest(),this.set("changeToPreviewPrescale",{index:parseInt(prescaleIndex),otf:isotf,fmtlabel:label}),this.setStatusPrescaleChangeString(!0)}},openPrescalesPopup:function(){var selectedItem=this.getPrescaleIndexItem(),handler=this.$$("#handlerOtf");void 0!==selectedItem?(handler.selectedIndex=selectedItem.index,handler.isOtfSet=selectedItem.otf):(handler.selectedIndex="",handler.isOtfSet=!1),handler.generateRequest()},dialogConfirmed:function(){var selectedItem=this.getPrescaleIndexItem(),selIndex=selectedItem.index,handler=this.$$("#handler");handler.usingOtfPrescales=!0,handler.selectedIndex=selIndex,this.$$("#refreshdata").selectedIndex=selIndex;for(var inputArray=Polymer.dom(this.root).querySelectorAll("paper-input"),i=0;i<inputArray.length;++i)for(var input=inputArray[i],j=0;j<this.currentPreviewPrescaleSet.prescaleset.length;++j){var item=this.currentPreviewPrescaleSet.prescaleset[j],sInputLabel=this.buildPopupAlgoLabel(item);if(input.label==sInputLabel){handler.push("parameters",item.algo),handler[item.algo]=input.value;var swid=item.algo+"_mask",maskSwitch=this.$$("#"+swid);handler.push("parameters",swid),handler[swid]=maskSwitch.value;break}}this.set("changeToPreviewPrescale",{index:parseInt(selIndex),otf:!0,fmtlabel:selectedItem.text}),this.setStatusPrescaleChangeString(!0),handler.generateRequest()},onCheckedChanged:function(e){var target=e.target;console.log("blas "+target.id+" "+target.checked),target.checked?target.innerHTML=1:target.innerHTML=0,target.value=target.innerHTML},showEmptyInputDialog:function(){this.throwToast({type:"error",message:"Empty prescales for algos are not allowed.",options:["OK"],blocking:!0,callback:function(response){console.log(response),this.openPrescalesPopup()}.bind(this)})},buildPopupAlgoLabel:function(item){return item.index+" "+item.algo},_retreivedCurrentPreviewPrescaleSet:function(newval,oldval){if(void 0!==oldval&&oldval!==newval){this.currentPreviewPrescaleSet=newval;this.$$("#dialog").open()}},_sysReadyChanged:function(newval,oldval){if(void 0!==oldval&&oldval!==newval&&!newval){this.set("res",{}),this.setActiveAlgoMsgString(!0),this.set("changeToPreviewPrescale",void 0),this.set("currentPreviewPrescale",{index:0,otf:!1,fmtlabel:""}),this.set("statusPrescaleChange","");var dropdown=this.$$("#dropdown");null!==dropdown&&dropdown.select(void 0);var dialog=this.$$("#dialog");null!==dialog&&dialog.cancel(),this.set("tab",{})}},_prescaleInUseChanged:function(newval,oldval){if((void 0===oldval||void 0!==newval&&oldval!=newval)&&(null!==this.tab&&void 0!==this.tab&&(this.showTable=this.displayTable(this.tab.presc,newval.showtable,this.tab.items)),void 0!==newval.changetoprescaleindex&&(this.set("changeToPreviewPrescale",{index:parseInt(newval.changetoprescaleindex),otf:newval.changetoprescaleotf,fmtlabel:newval.changetoprescalefmtlabel}),this.setStatusPrescaleChangeString(!0,newval.changetoprescalefmtlabel),this.selectPrescaleIndexItem(parseInt(this.changeToPreviewPrescale.index),this.changeToPreviewPrescale.otf))),void 0!==newval.processors&&newval.processors.length>0){var currentPreviewPSIdx=parseInt(newval.processors[0].index),currentPreviewPSOtf=newval.processors[0].otf,currentPreviewPSLabel=newval.processors[0].fmtlabel;this.set("currentPreviewPrescale",{index:parseInt(currentPreviewPSIdx),otf:currentPreviewPSOtf,fmtlabel:currentPreviewPSLabel}),void 0!==this.changeToPreviewPrescale?parseInt(this.changeToPreviewPrescale.index)===parseInt(this.currentPreviewPrescale.index)&&this.changeToPreviewPrescale.otf===this.currentPreviewPrescale.otf&&this.setStatusPrescaleChangeString(!1):(this.set("statusPrescaleChange",""),this.set("changeToPreviewPrescale",{index:this.currentPreviewPrescale.index,otf:this.currentPreviewPrescale.otf,fmtlabel:this.currentPreviewPrescale.fmtlabel})),void 0===this.getPrescaleIndexItem()&&this.selectPrescaleIndexItem(this.currentPreviewPrescale.index,this.currentPreviewPrescale.otf)}},selectPrescaleIndexItem:function(prescaleIndex,otf){var dropdown=this.$$("#dropdown");if(null!==dropdown)for(var items=dropdown.items,i=0;i<items.length;i++){var item=items[i].value;if(parseInt(item.index)===prescaleIndex&&item.otf===otf){dropdown.selectIndex(i);break}}},getPrescaleIndexItem:function(){var dropdown=this.$$("#dropdown"),domDropdownItems=this.$$("#domDropdownItems");if(void 0!==domDropdownItems&&null!==dropdown&&void 0!==dropdown.selectedItem)return domDropdownItems.items[dropdown.selected]},getDropdownPrescaleLabel:function(prescaleIndex,otf){var dropdown=this.$$("#dropdown");if(null!==dropdown)for(var items=dropdown.items,i=0;i<items.length;i++){var item=items[i].value;if(parseInt(item.index)==prescaleIndex&&item.otf==otf)return item.text;if(void 0==prescaleIndex&&item.otf==otf)return item.text}return""},setActiveAlgoMsgString:function(isActive){this.isShowActiveAlgo=isActive,this.activeAlgoMsg=isActive?"Switch to all algos":"Switch to active algos"},setStatusPrescaleChangeString:function(isWaiting){var label=this.getDropdownPrescaleLabel(this.changeToPreviewPrescale.index,this.changeToPreviewPrescale.otf);this.setStatusPrescaleText(isWaiting,label)},setStatusPrescaleChangeString:function(isWaiting,label){this.setStatusPrescaleText(isWaiting,label)},setStatusPrescaleText:function(isWaiting,text){if(isWaiting){var msg="";msg+=void 0!==text?"Change to prescale '"+text+"' ":"Changing prescale ",msg+="(Waiting for lumisection update)",this.set("statusPrescaleChange",msg)}else this.set("statusPrescaleChange","")},showRow:function(prescale,mask){return!this.isShowActiveAlgo||prescale>0&&1===mask},isBxMaskApplied:function(bxmask){return this.isNotEmpty(bxmask)&&bxmask.length>0},getBxMaskText:function(bxmask){return this.isBxMaskApplied(bxmask)?"applied":""},getBxMaskAltText:function(bxmask){if(this.isBxMaskApplied(bxmask)){for(var out="",i=0;i<bxmask.length;i++)out+=bxmask[i],i+1<bxmask.length&&(out+=", ");return out}return""},displayTable:function(tablePrescale,showTable,rows){return null!=tablePrescale&&null!=showTable&&null!=rows&&(showTable&&rows.length>0&&parseInt(tablePrescale)==parseInt(this.currentPreviewPrescale.index))},reloadTable:function(aRefreshTable,aIsRunningOrPaused){return aRefreshTable&&aIsRunningOrPaused},getLabelClass:function(status){return"label "+status+"-bkg"},isNotEmpty:function(status){return!(void 0===status)},getRateLoadingMessage:function(remainingLumis){var msg="Loading rates and finor for new preview prescale index, wait ";return 1===remainingLumis?msg=msg+remainingLumis+" lumisection.":remainingLumis>1?msg=msg+remainingLumis+" lumisections.":0===remainingLumis?msg+="a moment...":(console.log("getRateLoadingMessage: unknown value = "+remainingLumis),msg+="a moment..."),msg},getPrescaleIndexString:function(prescaleIndex,otf){var msg=prescaleIndex.toString();return otf&&(msg+="*"),msg},makeSortedItems:function(items){if(void 0!=items&&0!=items.length){var selSort=this.$$("#selSort"),selected=selSort.selected,comparator=void 0;if(0==selected)comparator=this.propComparatorAsc("index");else if(1==selected)comparator=this.propComparatorDesc("index");else if(2==selected)comparator=this.propComparatorAsc("algo");else if(3==selected)comparator=this.propComparatorDesc("algo");else if(4==selected)comparator=this.propComparatorAsc("rate");else if(5==selected)comparator=this.propComparatorDesc("rate");else if(6==selected)comparator=this.propComparatorAsc("ratecounter");else if(7==selected)comparator=this.propComparatorDesc("ratecounter");else if(8==selected)comparator=this.propComparatorAsc("moduleid");else{if(9!=selected)return void console.log("Unknown sorter for id="+selected);comparator=this.propComparatorDesc("moduleid")}for(var activeItems=[],i=0;i<items.length;i++){var row=items[i];this.showRow(row.prescale,row.finor)&&activeItems.push(row)}for(var sortedItems=activeItems.sort(comparator),i=0;i<sortedItems.length;i++){var row=sortedItems[i];row.rate=this.formatRate(row.rate),row.ratecounter=this.formatCounter(row.ratecounter)}return sortedItems}},propComparatorAsc:function(prop){return function(a,b){return a[prop]<b[prop]?-1:a[prop]>b[prop]?1:a.index-b.index}},propComparatorDesc:function(prop){return function(a,b){return a[prop]<b[prop]?1:a[prop]>b[prop]?-1:a.index-b.index}},formatCounter:function(counter){return counter.toLocaleString("en-US",{minimumFractionDigits:0})},formatRate:function(rate){return rate.toLocaleString("en-US",{minimumFractionDigits:2,maximumFractionDigits:2})},setIsSystemReady:function(aRunningOrPaused,aConfiguredOrAligned,aNotConfigured){this.set("isSystemReady",{runningOrPaused:aRunningOrPaused,configuredOrAligned:aConfiguredOrAligned,notConfigured:aNotConfigured})},created:function(){},ready:function(){this.setIsSystemReady(!1,!1,!1)},attached:function(){this.setActiveAlgoMsgString(!0),this.showTable=!1},detached:function(){},attributeChanged:function(name,type){}});
</script>
</dom-module>
