<link rel="import" href="./prescales-panel/prescales-panel.html">
<link rel="import" href="./rate-panel/rate-panel.html">
<link rel="import" href="./preview-panel/preview-panel.html">
<link rel="import" href="./ugt-styles/ugt-styles.html">
